<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <section>
      {% block content %}{% endblock %}
    </section>
    <footer>
      {% block footer %}
        
      {% endblock %}
    </footer>
  </body>
</html>
